apps/openclaw/n8n-workflows/openclaw-to-perplexity.json
{
  "name": "OpenClaw → Perplexity Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "openclaw-perplexity",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "openclaw-perplexity"
    },
    {
      "parameters": {
        "url": "http://perplexity-agent:4004/api/query",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.parse($json.body)}}",
        "options": {
          "timeout": 120000
        }
      },
      "name": "Call Perplexity Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [500, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[
        {
          "node": "Call Perplexity Agent",
          "type": "main",
          "index": 0
        }
      ]]
    },
    "Call Perplexity Agent": {
      "main": [[
        {
          "node": "Respond",
          "type": "main",
          "index": 0
        }
      ]]
    }
  }
}
